@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Formato: R G B */
  --sweet-pink: 247 122 144;   /* #f77a90 - Helados/Postres */
  --grill-brown: 172 110 59;   /* #ac6e3b - Hamburguesas/Carnes */
  --bread-gold: 168 144 96;    /* #a89060 - Panes/Pastelería */
  --cream-bg: 239 220 185;     /* #efdcb9 - Fondo General */
  --mint-action: 117 219 193;  /* #75dbc1 - Botones/Promos */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-sweet: rgb(var(--sweet-pink));
  --color-grill: rgb(var(--grill-brown));
  --color-bread: rgb(var(--bread-gold));
  --color-cream: rgb(var(--cream-bg));
  --color-mint: rgb(var(--mint-action));

  --font-sans: var(--font-plus-jakarta-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --sweet-pink: 255 140 160;
    --grill-brown: 210 140 80;
    --bread-gold: 190 170 110;
    --mint-action: 90 230 195;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-plus-jakarta-sans);
}

code, kbd, pre, samp {
  font-family: var(--font-geist-mono);
}

button {
  cursor: pointer;
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
  }
  to {
    width: var(--ripple-size);
    height: var(--ripple-size);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 5ms ease-out forwards;
}
